.header {
  height: var(--header-height);
  background-color: var(--co-black);
  border-bottom: 1px solid var(--co-gray-900);
  position: sticky;
  top: 0;
  z-index: 100;
  transition: all 0.3s ease;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.header-logo a {
  display: flex;
  align-items: center;
  gap: var(--space-2);
}

.logo-text {
  font-size: 1.5rem;
  font-weight: 800;
  letter-spacing: 1px;
  color: var(--co-white);
}

.logo-img {
  width: 32px;
  height: 32px;
}

/* Nav */
.header-nav {
  height: 100%;
}

.nav-list {
  display: flex;
  height: 100%;
}

.nav-link {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 var(--space-3);
  font-size: 14px;
  font-weight: 700;
  color: var(--co-gray-300);
  position: relative;
}

.nav-link:hover, .nav-link.active {
  color: var(--co-white);
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 0%;
  height: 3px;
  background-color: var(--co-white);
  transition: width 0.3s ease;
}

.nav-link:hover::after, .nav-link.active::after {
  width: 100%;
}

.nav-sale {
  color: var(--co-red);
}

.nav-sale:hover {
  color: #ff4d4f; /* lighter red on hover */
}
.nav-sale::after {
  background-color: var(--co-red);
}

/* Actions */
.header-actions {
  display: flex;
  align-items: center;
  gap: var(--space-4);
}

.search-box {
  position: relative;
  display: flex;
  align-items: center;
}

.search-icon {
  position: absolute;
  left: 12px;
  color: var(--co-gray-400);
}

.search-input {
  background-color: #262626;
  border: 1px solid transparent;
  padding: 8px 16px 8px 38px;
  border-radius: var(--radius-full);
  color: var(--co-white);
  font-size: 14px;
  width: 220px;
  transition: var(--transition);
}

.search-input::placeholder {
  color: var(--co-gray-400);
}

.search-input:focus {
  outline: none;
  background-color: #333;
  width: 260px;
  border-color: var(--co-gray-600);
}

.icon-btn {
  color: var(--co-white);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-btn:hover {
  color: var(--co-gray-300);
}

.cart-btn {
  position: relative;
}

.cart-badge {
  position: absolute;
  top: -8px;
  right: -10px;
  background-color: var(--co-red);
  color: var(--co-white);
  font-size: 10px;
  font-weight: bold;
  height: 18px;
  min-width: 18px;
  border-radius: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 4px;
}
